/* You can add global styles to this file, and also import other style files */
:root{
    --primary: #6331df;
    --secondary: #d7c9f9;
    --white: #ffffff;
    --black: #161616;
}
*, *::after, *::before{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", serif;
    /* background: linear-gradient(90deg, rgb(248, 238, 248) 0%, rgb(212, 199, 241) 41%, rgba(146,159,183,1) 100%); */
    background-color: #eee;
}

p{
    color: #223;
}

.label{
    font-size: 14px;
    color: #444;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Poppins", serif !important;
}

.wrapper{
    background-color: var(--white);
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.btn{
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btn-primary{
    background-color: var(--primary);
    color: white;
    font-weight: bold;
    
}

.btn-primary:hover{
    color: var(--primary);
}

.profile-img{
    width: 80px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}

.searchGroup{
    position: relative;
    padding: 1rem;
    margin: 1rem auto;
}
.searchGroup i{
    position: absolute;
    top: 38%;
    left: 24px;
    font-size: 18px;
    font-weight: bold;
    color:var(--primary);

}
.searchGroup input{
    width: 100%;
    padding: .5rem 1rem;
    padding-left: 2rem;
    border-radius: 30px;
    outline: none;
    border: 1px solid var(--primary);
    background-color: var(--secondary);
}
.searchGroup input:focus{
    border: none;
    outline: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
